body {
    margin: 0;
    height: 100vh;
    background: #ffe6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  #centerBalloon {
    font-size: 80px;
    cursor: pointer;
  }
  
  .falling {
    position: absolute;
    top: -60px;
    font-size: 40px;
    animation: fall linear forwards;
  }
  .heart {
    position: absolute;
    top: -60px;
    font-size: 42px;
    cursor: pointer;
    animation: fall linear forwards;
    z-index: 5;
  }
  
  @keyframes fall {
    to {
      top: 110vh;
    }
  }
  